<h1>Vehicle Management</h1>

<% if (message && message.length > 0) { %>
  <p class="notice"><%= message %></p>
<% } %>

<ul id="vehicle-management">
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-vehicle">Add New Vehicle</a></li>
</ul>