<section class="appointment-success">
  <h1>Success!</h1>

  <p>Your test drive has been successfully scheduled.</p>

  <p>
    <a class="btn" href="/appointment/my-appointments">View My Appointments</a>
  </p>
</section>
